<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roddan Development Foundation</title>
    <%- include('./layouts/headers') %>
</head>

<body>
    <div class="body_wrapper">
        <%- include('./layouts/sidebar') %>
        <div class="main-wrapper">
            <%- include('./layouts/top_nav') %>
            <div class="container_wrapper gap-10 col pd-inl-15 ">
                <div class="owner_container card  height-100 width-100 rounded-10 pd-30 ">
                    <div class="headline width-100 row space-between pd-10">
                        <h3 class="letter-spc-2 h2 ">MANAGERS</h3>
                        <a href="/manager/add_manager" class="logout pd-10 rounded-5"> Add Manager</a>
                    </div>
                    <br>
                    <div class="card_container row gap-20 flex-wrap pd-10">
                        <% if (managers && managers.length > 0) { %>
                            <% managers.forEach(manager => { %>
                           <div class="owner_card rounded-5  border_wrap col ">
                               <a href="/manager/view/manager/<%= manager._id  %>">
                               <div class="owner_img">
                                   <img src="/uploads/users/<%= manager.image  %>" alt="" style="height: 200px; object-fit: cover;">
                               </div>
                               <div class="owner_descrip pd-10 gap-10 col">
                                   <p>Name: <%= manager.name  %></p>
                                   <p>Contact: <%= manager.phone  %></p>
                                   <% if (manager.email) { %>
                                    <p>Email: <%= manager.email  %></p>
                                   <% } %>
                                   <p>Tag Number: <%= manager.staffId  %></p>
                               </div>
                               </a>
                           </div>
                            <% }) %>
                           <% } %>
                       </div>
                       <br>
                       <br>
                     
                       <div class="pargination center row gap-20">
                           <% if (currentPage > 1) { %>
                               <a href="/manager/managers/?page=<%= currentPage - 1 %>" class="width-20 pd-10 prim_btn_color rounded-20">Previous</a>
                               <% } %>
                               <p><%= currentPage%></p>
                               <% if (currentPage < totalPages) { %>
                               <a href="/manager/managers/?page=<%= currentPage + 1 %>"class="width-20 pd-10 prim_btn_color rounded-20" >Next</a>
                               <% } %>
                          
                           
                       </div>

                </div>

                <%- include('./layouts/footer') %>

            </div>
        </div>


        <script src="/js/dashboard.js"></script>
<script src="/js/sidebar.js"></script>



</body>

</html>